[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[credential]
	helper = store
[push]
	default = simple

# use separate file for username / github token / etc
# this file could look like:
#[user]
#	name = 
#	email = 
[include]
	path = ~/.gitconfig.local

